.forecast-container {
    width: 100%;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
}

.forecast-container .forecast {
    width: 33.33%; 
}

@media (max-width: 767px) {
    .forecast-container .forecast {
        width: 100%;  
    }
}
